.modal--active{
  display: block;
}
.modal--inactive{
  display: none;
}
.modal__active--flex{
  display: flex !important;
}
.modal__contact--button{
  justify-self: center;
  font-size: 20px;
  font-weight: 700;
  font-family: 'DM Sans';
  text-align: center;
  color: #FFFFFF;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  line-height: 26px;
}

#modal__contact {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(196, 196, 196, 0.4);
}
.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  max-width: 670px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 50px;
  font-weight: normal;
  text-align: left;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 5px;
}
#message {
  height: 170px;
}
.modal__close--button {
  background-color: transparent;
  border: none;
}
.modal header {
  justify-content: space-between;
  width: 100%;
}
.contact__button--submit{
  width: 170px;
  height: 70px;
  font-size: 18px;
  font-weight: 700;
  font-family: 'DM Sans';
  text-align: center;
  color: #FFFFFF;
  background-color: #911C1C;
  border: none;
  border-radius: 5px;
}
#modal__lightbox {
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(196, 196, 196, 0.829);
  overflow: auto;
}
.modal__lightbox--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  width: 80%;
  max-width: 900px;
  height: 750px;
  position: relative;
}
.modal__lightbox--container span {
  position: absolute;
  left: 0px;
  bottom: -40px;
  color: #901c1c;
  font-size: 24px;
}
#modal__lightbox img,
#modal__lightbox video {
  object-fit: cover;
  min-width: 700px;
  min-height: 700px;
  width: 100%;
  height: inherit;
}
#modal__lightbox button {
  background-color: transparent;
  border: none;
  position: absolute;
  font-size: 3rem;
  color: #901c1c;
  cursor: pointer;
}

.modal__lightbox--close {
  top: 0px;
  right: -50px;
}
.modal__lightbox--next {
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
}
.modal__lightbox--prev {
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
}