@import url("style.css");
@import url("media.css");
@import url("modal.css");

main {
    margin: 0 100px 0 100px;
}
.photographer__header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #fafafa;
    border-radius: 5px;
    height: 300px;
    position: relative;
    background-color: white;
    padding-right: 30px;
}
.photographer__header img {
    justify-self: flex-end;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}
#details{
    flex: 1;
    justify-content: space-between !important;
    gap: 20px !important;
    align-items: flex-start !important;
}
#details h2{
    font-size: 64px;
    font-weight: 400;
    font-family: 'DM Sans';
    color: #D3573C;
    line-height: .9 !important;
}
#details > *{
    font-family: 'DM Sans';
    margin: 0 !important;
}
#details h3{
    color: #901c1c;
    font-size: 24px;
    font-weight: 400;
}
#details p{
    font-size: 18px;
    font-weight: 400;
    color: #525252;
    line-height: 23px;
}
.photographer__encart--container {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    bottom: 0;
    right: 36px;
    width: 300px;
    height: 60px;
    background-color: #db8876;
    border-radius: 5px 5px 0px 0px;
  }
  .photographer__encart--container p {
    margin: 0;
    margin-right: 5px;
  }
  .photographer__encart--container span {
    display: flex;
    position: relative;
  }
  .photographer__encart--container i {
    margin-top: 3px;
  }
